.todo-list {
  margin-top: 20px;
}

.todo-list input,
.todo-list textarea {
  width: 100%;
  margin-bottom: 10px;
}

.todo-list button {
  margin-right: 10px;
}

.button-container {
  display: flex;
  justify-content: center; /* Центрирование кнопок по горизонтали */
  margin: 10px 0; /* Отступ сверху и снизу */
}

.button-container button {
  margin: 0 10px; /* Отступ между кнопками */
  padding: 5px 15px; /* Увеличенный внутренний отступ для кнопок */
  cursor: pointer; /* Указатель при наведении на кнопку */
}

.importance-section {
  background-color: #f0f0f0; /* Серый фон */
  padding: 10px; /* Отступ вокруг блока */
  border-radius: 5px; /* Закругленные углы */
  margin: 10px 0; /* Отступ сверху и снизу */
}

.importance-title {
  margin: 0 0 10px; /* Отступ только снизу */
  text-align: center; /* Центрирование текста */
}

.importance-filters {
  display: flex; /* Используем Flexbox */
  flex-direction: column; /* Располагаем элементы в колонку */
  align-items: flex-start; /* Выравниваем по левому краю */
}

.importance-label {
  display: flex; /* Используем Flexbox для каждого элемента */
  align-items: center; /* Выравниваем по вертикали */
  margin-bottom: 5px; /* Отступ между чекбоксами */
}

.importance-filters input {
  margin-right: 5px; /* Отступ между чекбоксом и текстом */
}

.todo-item {
  display: flex;
  justify-content: space-between; /* Распределение пространства между элементами */
  align-items: center; /* Вертикальное выравнивание */
  margin-bottom: 10px; /* Отступ между задачами */
}

.task-importance {
  margin-left: 10px; /* Отступ между заголовком и уровнем сложности */
  color: #555; /* Цвет текста для уровня сложности */
}

